<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/adminlte.min.css">

    <link href="~/Content/AdminLTE/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/Content/AdminLTE/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Home/Index" class="nav-link">Anasayfa</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin/Logout" class="nav-link">Çıkış Yap</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link elevation-4" align="center">
                @if (Proje.Aktif.SiteAyar.site_adi.ToString() == null)
                {
                    <span class="brand-text font-weight-light">Site Adi</span>
                }
                <span class="brand-text font-weight-light">@Proje.Aktif.SiteAyar.site_adi.ToString()</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="image">
                        <img src="~/Content/AdminLTE/dist/img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        @if (Proje.Aktif.adminData.adi_soyadi == null)
                        {
                            Href("Login", "Admin");
                        }
                        else
                        {
                            <a href="#" class="d-block">@Proje.Aktif.adminData.adi_soyadi</a>
                        }

                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Admin/Urunler" class="nav-link @(ViewBag.title == "Ürünler" ? "active":"") @(ViewBag.title == "Ürün Düzenle" ? "active":"")">
                                <i class="nav-icon fa fa-cubes"></i>
                                <p>
                                    Ürünler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/UrunEkle" class="nav-link @(ViewBag.title == "Ürün Ekle" ? "active":"")">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Ürün Ekle
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link
                                @if (ViewBag.title == "Kategori Düzenle")
                                {
                                    @(ViewBag.title == "Kategori Düzenle" ? "active":"")
                                }
                                else
                                {
                                    @(ViewBag.title == "Kategori Ekle" ? "active":"")
                                }
                               ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kategori
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Kategori" class="nav-link @(ViewBag.title == "Kategori Düzenle" ? "active":"")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kategoriler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/KategoriEkle" class="nav-link @(ViewBag.title == "Kategori Ekle" ? "active":"")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kategori Ekle</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/AdminDuzenle" class="nav-link @(ViewBag.title == "Admin Ekle / Sil" ? "active":"")">
                                <i class="nav-icon fa fa-user-circle"></i>
                                <p>
                                    Admin Ekle / Sil
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link
                                @if (ViewBag.title == "Slider Düzenle")
                                {
                                    @(ViewBag.title == "Slider Düzenle" ? "active":"")
                                }
                                else
                                {
                                    @(ViewBag.title == "Site Ayar" ? "active":"")
                                }
                               else
                               {
                               @(ViewBag.title == "Ödeme Yöntemleri" ? "active":"")
                               }
                               ">
                                <i class="nav-icon fa fa-cogs"></i>
                                <p>
                                    Site Ayarları
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Slider" class="nav-link @(ViewBag.title == "Slider Düzenle" ? "active":"")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Slider Düzenle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/SiteAyar/1" class="nav-link @(ViewBag.title == "Site Ayar" ? "active":"")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Site Ayar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/OdemeYontemleri" class="nav-link @(ViewBag.title == "Ödeme Yöntemleri" ? "active":"")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ödeme Yöntemleri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link">
                                <i class="nav-icon fa fa-home"></i>
                                <p>
                                    Anasayfaya Dön
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Logout" class="nav-link">
                                <i class="nav-icon fa fa-sign-in"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12" align="center">
                            <h1>@ViewBag.Title</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            @RenderBody()
            <!-- Main content -->
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0
            </div>
            <strong>@Proje.Aktif.SiteAyar.site_adi.ToString() &copy; @DateTime.Now.Year all rights reserved. Design by <a href="https://ceoweb.net">ceoweb</a>.</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- jQuery -->
    <script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Page specific script -->

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>
</html>

