@model shopping.SiteAyarViewModel
@{
    ViewBag.Title = "Ödeme Yöntemleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


@if (TempData["Odemeeklendi"] != null)
{

    <script>
        Swal.fire("Ödeme Yöntemi", "Eklendi", "success")
    </script>
}

@if (TempData["Odemesilindi"] != null)
{

    <script>
        Swal.fire("Ödeme Yöntemi", "Silindi", "success")
    </script>
}

@if (TempData["Odemeguncellendi"] != null)
{

    <script>
        Swal.fire("Değişiklikler", "Kaydedildi", "success")
    </script>
}

<div class="content-wthree2">
    <div class="container">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Ödeme Ekle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("OdemeEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card-body">
                    <div class="form-group row">
                        <label for="recipient-name" class="col-sm-2 col-form-label">Banka Adı:</label>
                        <div class="col-sm-10">
                            <input type="text" name="banka" class="form-control" id="inputBanka" placeholder="Banka" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">IBAN:</label>
                        <textarea class="form-control" id="message-text" name="iban" placeholder="IBAN"></textarea>
                    </div>
                    <div class="grid-w3layouts1">
                        <div class="w3-agile1">
                            <label class="rating">Aktif<span>*</span></label>
                            <ul>
                                <li>
                                    <input type="radio" id="a-option" value="true" name="aktif">
                                    <label for="a-option">Aktif</label>
                                    <div class="check"></div>
                                </li>

                                <li>
                                    <input type="radio" id="b-option" value="false" name="aktif" checked>
                                    <label for="b-option">Pasif</label>
                                    <div class="check"><div class="inside"></div></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Ekle</button>

                </div>
                <div class="clear"></div>

                <!-- /.card-footer -->
            }
            <br />


        </div>
    </div>
    <div class="container">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Ödeme Yönetmi Düzenle</h3>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Banka Adı</th>
                                                <th>Iban</th>
                                                <th>Ödeme Aktif</th>
                                                <th>Duzenle</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.odemes)
                                            {
                                                <tr>
                                                    <td>@item.banka</td>
                                                    <td>@item.iban</td>
                                                    
                                                    <td>
                                                        @if (item.aktif == true)
                                                        {
                                                            <i class="text-green fas fa-check"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="text-red fas fa-times"></i>
                                                        }
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#guncelle_@item.odemeID" data-whatever="">Güncelle</button>
                                                        <div class="modal fade" id="guncelle_@item.odemeID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">

                                                                <div class="modal-content">
                                                                    @using (Html.BeginForm("OdemeDuzenle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                    {
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Düzenle</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="form-group">
                                                                                <label for="recipient-name" class="col-form-label ">Banka Adı:</label>
                                                                                <input type="text" class="form-control" id="recipient-name" name="banka" value="@item.banka">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="recipient-name" class="col-form-label ">IBAN:</label>
                                                                                <input type="text" class="form-control" id="recipient-name" name="iban" value="@item.iban">
                                                                            </div>
                                                                            <br />

                                                                            <p></p>
                                                                            <div class="content-wthree2">
                                                                                <div class="grid-w3layouts1">
                                                                                    <div class="w3-agile1">
                                                                                        <label class="rating">Aktif<span>*</span></label>
                                                                                        <ul>
                                                                                            @if (item.aktif == true)
                                                                                            {
                                                                                                <li>
                                                                                                    <input type="radio" id="a-option" value="true" name="aktif" checked>
                                                                                                    <label for="a-option">Aktif</label>
                                                                                                    <div class="check"></div>
                                                                                                </li>

                                                                                                <li>
                                                                                                    <input type="radio" id="b-option" value="false" name="aktif">
                                                                                                    <label for="b-option">Pasif</label>
                                                                                                    <div class="check"><div class="inside"></div></div>
                                                                                                </li>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <li>
                                                                                                    <input type="radio" id="a-option" value="true" name="aktif">
                                                                                                    <label for="a-option">Aktif</label>
                                                                                                    <div class="check"></div>
                                                                                                </li>

                                                                                                <li>
                                                                                                    <input type="radio" id="b-option" value="false" name="aktif" checked>
                                                                                                    <label for="b-option">Pasif</label>
                                                                                                    <div class="check"><div class="inside"></div></div>
                                                                                                </li>
                                                                                            }

                                                                                        </ul>
                                                                                        <div class="clear"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </div>
                                                                            <p></p>

                                                                            <input name="odemeID" type="hidden" value="@item.odemeID" />

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                                            <button type="submit" class="btn btn-primary">Güncelle</button>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sil_@item.odemeID">
                                                            Sil
                                                        </button>
                                                        <div class="modal fade" id="sil_@item.odemeID">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">Açıklama</h4>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h4>@item.banka Ödeme Sistemini Silmek İstiyor musunuz ?</h4>
                                                                    </div>
                                                                    <div class="modal-footer justify-content-between">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                                                                        @Html.ActionLink("Sil", "Odemesil", new { item.odemeID }, new { @class = "btn btn-danger" })
                                                                    </div>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                    </td>

                                                    <!-- /.modal -->

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Banka Adı</th>
                                                <th>Iban</th>
                                                <th>Ödeme Aktif</th>
                                                <th>Duzenle</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>
    </div>
</div>





